@import url("../../UI/fonts/jura.css");

.UserStateText {
    font-family: "Jura";
    position: absolute;
    width: 505px;
    height: 35px;
    left: 465px;
    top: 100px;
    font-size: 26px;
}

.BodyStressChart {
    position: absolute;
    width: 350px;
    height: 350px;
    left: 585px;
    top: 200px;
}

.ExerciseTimer {
    font-family: "Jura";
    position: absolute;
    width: 505px;
    height: 35px;
    left: 285px;
    top: 510px;
    font-size: 20px;
}