@import url("../fonts/jura.css");

.header {
    background: #018094;
    margin-bottom: 0px;
}

.logo {
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.25));
    width: 25%;
    height: 25%;
    display:inline-block;
    margin-left: 25px;
}

.moreInfoButton {
    background: #0198b2;
    border: 4px solid #018094;
    min-width: 25.8%;
    min-height: 45px;
    border-radius: 0px;
}