@import url("../fonts/jura.css");

.PageMenu {
    background: #0198b2;
    max-width: 25%;
    min-height: 490px;
    font-family: "Jura";
    color: white;
    font-size: 26px;
    border: 4px solid #018094;
}

.SwitchPageButton {
    background: #0198b2;
    padding: 10px;
    min-height: 45px;
    min-width: 100%;
    text-align: left;
    font-family: "Jura";
    color: white;
    font-size: 26px;
    border: 4px solid #018094;
}